<div class="w-full text-gray-800 text-center bg-local bg-portfolio bg-blend-screen px-4 pt-12 pb-12 md:px-0">
	<h2 class="text-3xl font-display font-extrabold mt-10" data-t="porfolio.h2">What I've been building</h2>
	<p class="mb-16 text-gray-500" data-t="porfolio.sub">These are the projects that I worked on as a self-employed web dev.</p>
	<div class="sm:container flex flex-row flex-wrap justify-center mx-auto mb-8">
		<!-- BIOTRUCK -->
		<div class="card-wrapper bg-biotruck">
			<a class="self-end" href="https://bio-truck.fr" target="_blank" rel="noreferrer noopener">
				<div class="card-description-wrapper">
					<h3 class="text-2xl pb-2 font-bold font-display" data-t="portfolio.t1">BIO TRUCK</h3>
					<p data-t="portfolio.p1">A custom made WordPress theme (based on WP Ocean) to host more than 300 products.</p>
				</div>
				<div class="card-tag-wrapper grid-cols-3">
					<p class="card-tag bg-yellow-800 rounded-bl-md">WordPress</p>
					<p class="card-tag bg-red-900">E-Commerce</p>
					<p class="card-tag bg-gray-600 rounded-br-md">Self-Hosted</p>
				</div>
			</a>
		</div>
		<!-- KLEMAIL -->
		<div class="card-wrapper bg-klemail">
			<a class="self-end" href="https://klemail.io" target="_blank" rel="noreferrer noopener">
				<div class="card-description-wrapper">
					<h3 class="text-2xl pb-2 font-bold font-display" data-t="portfolio.t4">KLEMAIL</h3>
					<p data-t="portfolio.p4">Emailing verification service made with VueJS. Worked on additionnal front-end features and porting the promotion website to WordPress.</p>
				</div>
				<div class="card-tag-wrapper grid-cols-2">
					<p class="card-tag bg-yellow-800 text-white py-2 px-4 rounded-bl-md">WordPress / VueJS</p>
					<p class="card-tag bg-red-900 text-white py-2 px-4 rounded-br-md">Software As A Service</p>
				</div>
			</a>
		</div>
		<!-- ALFONZ -->
		<div class="card-wrapper bg-alfonz">
			<a class="self-end" href="https://shielded-temple-73273.herokuapp.com/" target="_blank" rel="noreferrer noopener">
				<div class="card-description-wrapper">
					<h3 class="text-2xl pb-2 font-bold font-display" data-t="portfolio.t3">ALFONZ</h3>
					<p data-t="portfolio.p3">Single Page Application made with VueJS. Uses the YouTube IFRAME API and Supabase in the backend.</p>
				</div>
				<div class="card-tag-wrapper grid-cols-3">
					<p class="card-tag bg-yellow-800 text-white py-2 px-4 rounded-bl-md">VueJS</p>
					<p class="card-tag bg-red-900 text-white py-2 px-4">Personal Project</p>
					<p class="card-tag bg-gray-600 text-white py-2 px-4 rounded-br-md">Heroku</p>
				</div>
			</a>
			<!-- Github Source Code Link -->
			<a href="https://github.com/liefwerk/webradio_alpha" target="_blank" class="github-wrapper bg-gray-700">
				<img 
					class="h-auto w-6"
					src="./img/icons/GitHub-Mark-Light-32px.png" 
					alt="Github Logo" />
				<p class="self-center pl-3 text-white text-sm">Check the source code</p>
			</a>
		</div>
		<!-- DOCKS-52B -->
		<div class="card-wrapper bg-docks52b">
			<a class="self-end" href="https://docks-52b.fr" target="_blank" rel="noreferrer noopener">
				<div class="card-description-wrapper">
					<h3 class="text-2xl pb-2 font-bold font-display" data-t="portfolio.t2">DOCKS-52B</h3>
					<p data-t="portfolio.p2">A simple one-page website for a local business. Made with ParcelJS and Sass.</p>
				</div>
				<div class="card-tag-wrapper grid-cols-3">
					<p class="card-tag bg-yellow-800 text-white py-2 px-4 rounded-bl-md">HTML & CSS</p>
					<p class="card-tag bg-red-900 text-white py-2 px-4">Landing page</p>
					<p class="card-tag bg-gray-600 text-white py-2 px-4 rounded-br-md">Self-Hosted</p>
				</div>
			</a>
		</div>
	</div>
</div>