<div class="w-full bg-white text-gray-900 bg-local bg-technos px-4 pt-12 pb-12 md:px-0">
	<div class="container mx-auto py-10 text-center">
		<h2 class="text-3xl font-display font-extrabold mt-10" data-t="techno.h2">Techologies I can use to build your project</h2>
		<h3 class="text-xl pt-4" data-t="techno.lang">Languages</h3>
		<div class="flex flex-wrap justify-center my-4">
			<div class="py-6 px-6 hover:shadow transition duration-750 ease-in-out">
				<img src="./img/languages/html5.png" class="mx-auto w-16">
				<p class="text-center pt-2 uppercase text-sm font-semibold text-gray-700">HTML5</p>
			</div>
			<div class="py-6 px-6 hover:shadow transition duration-750 ease-in-out">
				<img src="./img/languages/css3.png" class="mx-auto w-16">
				<p class="text-center pt-2 uppercase text-sm font-semibold text-gray-700">CSS3</p>
			</div>
			<div class="py-6 px-6 hover:shadow transition duration-750 ease-in-out">
				<img src="./img/languages/js.png" class="mx-auto w-16">
				<p class="text-center pt-2 uppercase text-sm font-semibold text-gray-700">Javascript</p>
			</div>
			<div class="py-6 px-6 hover:shadow transition duration-750 ease-in-out">
				<img src="./img/languages/typescript.jpg" class="mx-auto w-16">
				<p class="text-center pt-2 uppercase text-sm font-semibold text-gray-700">Typescript</p>
			</div>
			<div class="py-6 px-6 hover:shadow transition duration-750 ease-in-out">
				<img src="./img/languages/python.png" class="mx-auto w-16">
				<p class="text-center pt-2 uppercase text-sm font-semibold text-gray-700">Python</p>
			</div>
		</div>
		<h3 class="text-xl" data-t="techno.env">Working Environments</h3>
		<div class="flex flex-wrap justify-center my-4">
			<div class="py-6 px-6 hover:shadow transition duration-750 ease-in-out">
				<img src="./img/frameworks/wordpress.png" class="mx-auto w-16">
				<p class="text-center pt-2 uppercase text-sm font-semibold text-gray-700">Wordpress</p>
			</div>
			<div class="py-6 px-6 hover:shadow transition duration-750 ease-in-out">
				<img src="./img/frameworks/woocommerce.png" class="mx-auto w-16">
				<p class="text-center pt-2 uppercase text-sm font-semibold text-gray-700">Woocommerce</p>
			</div>
			<div class="py-6 px-6 hover:shadow transition duration-750 ease-in-out">
				<img src="./img/frameworks/vuejs.png" class="mx-auto w-16">
				<p class="text-center pt-2 uppercase text-sm font-semibold text-gray-700">VueJS</p>
			</div>
			<div class="py-6 px-6 hover:shadow transition duration-750 ease-in-out">
				<img src="./img/frameworks/react.png" class="mx-auto w-16">
				<p class="text-center pt-2 uppercase text-sm font-semibold text-gray-700">React</p>
			</div>
			<div class="py-6 px-6 hover:shadow transition duration-750 ease-in-out">
				<img src="./img/frameworks/laravel.png" class="mx-auto w-16">
				<p class="text-center pt-2 uppercase text-sm font-semibold text-gray-700">Laravel</p>
			</div>
		</div>
	</div>
</div>
