<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- Favicons -->
		<link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">

		<title>Web Developper Front-End - Woocommerce, React &amp; VueJS</title>
		<meta name="description" content="Portfolio of Nathanaël JAGENI -- Web Developer in Montevideo, Ugruguay.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Alegreya+Sans:wght@300;400;500;700;800&family=Courier+Prime&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/assets/main.bundle.css">
	</head>
	<body class="font-body overflow-x-hidden" class="{{ 'debug-screens' if env.devMode }}">
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div class="grid grid-cols-1 gap-0">
			{# {% include 'header.njk' %} #}
			{% block body %}
				{{ content | safe }}
			{% endblock %}
		</div>
		<script src="/assets/main.bundle.js" async></script>
		{# <script src="https://cdn.jsdelivr.net/gh/virae/we-stand-with-ukraine@v1.0.0/badge.js" async></script> #}
	</body>
</html>