<nav class="flex flex-row justify-between justify-items-center py-4 px-8 sm:px-10 md:px-12 lg:px-14 xl:px-20 shadow-md sm:items-baseline w-full bg-gray-50 z-50">
	<div class="flex flex-row flew-nowrap self-center items-center">
		<img src="/img/logo.svg" class="w-4 h-full inline mr-2 my-logo" />
		<a href="#" class="hidden sm:block md:text-xl no-underline leading-none text-grey-darkest hover:text-blue-dark">
			Accolade Polyglotte
		</a>
	</div>
	<div class="self-center">
		<a 
			href="https://natjs.fr" 
			target="_blank"
			class="text-sm text-grey-darkest md:text-lg hover:text-blue-600 ml-2 md:ml-3">
				Curriculum Vitae
		</a>
		{# <a href="./about/index.html" class="text-md text-grey-darkest md:text-lg hover:text-blue-600 ml-2 md:ml-3">about me</a> #}
	</div>
</nav>