<div class="w-full text-gray-100 bg-blue-900 bg-local c-hero relative">
	<div class="container py-16 max-w-max flex flex-row flex-wrap md:flex-nowrap justify-center items-center z-10">
		<div class="w-full md:w-2/3 lg:w-1/2">
			<h1 class="text-4xl md:text-5xl font-display font-extrabold leading-none text-left">Dépannage WordPress &amp; WooCommerce</h1>
			<p class="text-md md:text-lg mt-2">Développeur WordPress spécialisé dans la résolution de bugs et de problèmes Javascript et PHP.</p>
			<p class="text-lg md:text-xl mt-6">
				Que ce soit un formulaire non réactif, un plugin défectueux ou un conflit entre différents scripts, je possède les compétences techniques nécessaires pour identifier et corriger ces problèmes de manière efficace.
			</p>
			<ul class="my-2 text-gray-700">
				<li class="inline-block mr-1 mb-1 px-3 py-0.5 pb-1.5 bg-indigo-400 rounded-full cursor-default"><span>wordpress</span></li>
				<li class="inline-block mr-1 mb-1 px-3 py-0.5 pb-1.5 bg-indigo-300 rounded-full cursor-default"><span>deboggage</span></li>
				<li class="inline-block mr-1 mb-1 px-3 py-0.5 pb-1.5 bg-indigo-200 rounded-full cursor-default"><span>php</span></li>
				<li class="inline-block mr-1 mb-1 px-3 py-0.5 pb-1.5 bg-indigo-100 rounded-full cursor-default"><span>optimisations</span></li>
			</ul>
			<p class="mt-6 text-xl md:text-2xl font-bold" data-t="hero.status">Disponiblité confirmée.</p>
			<button type="submit" class="bg-yellow-200 hover:bg-gray-100 hover:text-gray-900 text-gray-800 text-lg font-semibold my-3 py-2 px-4 rounded shadow">
				<a href="https://www.malt.fr/profile/nathanaeljagenisellier1" target="_blank" rel="noopener noreferrer">Contactez-moi sur Malt</a>
			</button>
		</div>
		<div class="w-full pt-8 self-end z-10 md:w-1/3 lg:w-1/2">
			<img class="w-4/5 mx-auto md:w-full lg:w-9/12" src="/img/hero_programming.svg" />
		</div>
	</div>
</div>