/* eslint-disable no-use-before-define */

@tailwind base;
@tailwind components;
@tailwind utilities;
.link {
    @apply text-blue-400 hover:underline;
}
.list {
    @apply pl-2 my-2;
}
.list-border {
    @apply border-solid border-l-4 border-yellow-300;
}

/* CARDS */

.card-wrapper {
    @apply flex flex-row flex-wrap justify-center self-end max-w-sm h-96 mx-3 mb-8 bg-local bg-alfonz bg-cover bg-center shadow rounded-md;
}

.card-description-wrapper {
    @apply px-6 py-4 bg-white transition-card;
}

.card-tag-wrapper {
    @apply grid justify-items-stretch text-xs;
}

.card-tag {
    @apply text-white py-2 px-4;
}

/* BACKGROUNDS */

.c-hero {
    background-image: url('../img/binding-light.png');
}

.c-technos {
    background-image: url('../img/gradient-squares.png');
}

.bg-portfolio {
    background-image: linear-gradient(to bottom, rgba(255, 249, 249, 0.5), rgb(243, 244, 246)), url('../img/grilled-noise.png');
}

.bg-biotruck {
    background-image: url('../img/projects/biotruck.jpeg');
}

.bg-klemail {
    background-image: url('../img/projects/klemail.jpg');
}

.bg-alfonz {
    background-image: url('../img/projects/alfonz.jpeg');
}

.bg-docks52b {
    background-image: url('../img/projects/docks52b.jpeg');
}

.bg-tnbanalytics {
    background-image: url('../img/projects/tnb_analytics.png');
}

.bg-tnbcpos {
    background-image: url('../img/projects/tnbc_pos.png');
}

/* TRANSITIONS */

.transition-card {
    @apply transition duration-500 ease-in-out;
}

.c-code {
    background-image: url('../img/code_transparent.png');
}

.my-logo {
    height: 100%;
}

.leading-none {
    line-height: 1;
} 