/* eslint-disable no-use-before-define */

@tailwind base;
@tailwind components;
@tailwind utilities;
.link {
    @apply text-blue-400 hover:underline;
}
.list {
    @apply pl-2 my-2;
}
.list-border {
    @apply border-solid border-l-4 border-yellow-300;
}

.c-hero {
    background-image: url('../img/binding-light.png');
}

.c-technos {
    background-image: url('../img/gradient-squares.png');
}

.c-portfolio-item {
    background-image: url('../img/grilled-noise.png');
}

.c-code {
    background-image: url('../img/code_transparent.png');
}

.my-logo {
    height: 100%;
}