{% set title = 'Home' %}
{% extends "layout.njk" %}

{% block body %}
  <main class="">
    {% include 'navigation.njk' %}
    {% include 'presentation.njk' %}
    {% include 'freelance_projects.njk' %}

  </main>
  {# <div class="bg-gray-800 py-2">
    {% include 'footer.njk' %} #}
  </div>
{% endblock %}