{% set title = 'Home' %}
{% extends "layout.njk" %}

{% block body %}
  <main class="">
  <h1 class="flex justify-center h-screen">
    <span class="self-center">In construction, please come back later.</span>
  </h1>
    {# <div class="relative presentation-header bg-local bg-presentation shadow-md">
      {% include 'presentation/presentation-header.njk' %}
    </div>
    <div class="presentation">
      {% include 'presentation/presentation.njk' %}
    </div>
    
    <div class="bg-gray-50 py-16">
      {% include 'competence.njk' %}
    </div>

    <div class="bg-gray-100 py-16">
      {% include 'experience.njk' %}
    </div>

    <div class="bg-gray-200 py-16">
      {% include 'education.njk' %}
    </div>
 #}

  </main>
  {# <div class="bg-gray-800 py-2">
    {% include 'footer.njk' %} #}
  </div>
{% endblock %}